/* Colours */
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* Typography */
h1 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3, h4 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2rem;
}

/* Fonts */
/* Media Query break points */
/* Global reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
@media only screen and (min-width: 1085px) {
  body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: cover cover;
  }
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 2.5rem;
}

.top-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(32.5rem, 100%), 1fr));
  grid-gap: 5rem;
  margin: 5rem 0;
  text-align: center;
}
@media only screen and (min-width: 1085px) {
  .top-grid-container {
    gap: 1rem;
  }
}

@media only screen and (min-width: 1085px) {
  .description {
    text-align: left;
    margin-right: 8rem;
  }
}
.description__header {
  color: var(--very-dark-magenta);
}
@media only screen and (min-width: 1085px) {
  .description__header {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
.description__text {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--dark-grayish-magenta);
  line-height: 2.4rem;
}
@media only screen and (min-width: 1085px) {
  .description__text {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.ratings {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5rem;
}
@media only screen and (min-width: 1085px) {
  .ratings {
    align-items: flex-end;
  }
}
.ratings .box {
  background-color: var(--light-grayish-magenta);
  border-radius: 5px;
  padding: 1.5rem;
}
@media only screen and (min-width: 1085px) {
  .ratings .box {
    padding: 2rem 3rem;
    width: 44.5rem;
  }
}
@media only screen and (min-width: 1085px) {
  .ratings .box--reviews {
    margin-right: 10rem;
  }
}
@media only screen and (min-width: 1085px) {
  .ratings .box--report-guru {
    margin-right: 5rem;
  }
}
.ratings__caption {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--very-dark-magenta);
  line-height: 1.3rem;
}
@media only screen and (min-width: 1085px) {
  .ratings__caption {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
}
.ratings__stars {
  line-height: 3rem;
}
@media only screen and (min-width: 1085px) {
  .ratings__stars {
    display: flex;
  }
}
.ratings__stars img {
  margin: 2px;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(32.5rem, 100%), 1fr));
  grid-gap: 3rem;
}
.testimonials .testimonial {
  border-radius: 10px;
  padding: 3rem;
  background-color: var(--very-dark-magenta);
}
@media only screen and (min-width: 1085px) {
  .testimonials .testimonial {
    height: 230px;
  }
}
.testimonials .testimonial__picture {
  border-radius: 50%;
  margin-right: 2rem;
  width: 45px;
  height: 45px;
}
.testimonials .testimonial__caption {
  display: inline-block;
  vertical-align: bottom;
  height: 45px;
}
.testimonials .testimonial__caption--name {
  color: var(--white);
}
.testimonials .testimonial__caption--role {
  color: var(--soft-pink);
}
.testimonials .testimonial__quote {
  margin-top: 3rem;
  color: var(--light-grayish-magenta);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.2rem;
}
@media only screen and (min-width: 1085px) {
  .testimonials .testimonial--irene {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 1085px) {
  .testimonials .testimonial--anne {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
