/* Colours */
:root {

// Primary
--very-dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);

// Neutral

--dark-grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);
}

/* Typography */
h1 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3, h4 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.0rem;
}

/* Fonts */
$font-primary: 'Spartan', sans-serif;

/* Media Query break points */
$bp-desktop: 1085px; // minimum pixels desktop view

/* Global reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: {
    image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    repeat: no-repeat;
    position: left top, right bottom;
  }

  @media only screen and (min-width: $bp-desktop) {
    background: {
      image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
      repeat: no-repeat, no-repeat;
      position: left top, right bottom;
    }
  }

  font: {
    family: $font-primary;
    size: 1.5rem;
    weight: 400;
  }
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 2.5rem;
}

.top-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(325px,100%), 1fr));
  grid-gap: 50px;
  margin: 50px 0;
  text-align: center;
}

.description {

  @media only screen and (min-width: $bp-desktop) {
    text-align: left;
    margin-right: 8rem;
  }
  

  &__header {
    color: var(--very-dark-magenta);

    @media only screen and (min-width: $bp-desktop) {
      font-size: 4.8rem;
      line-height: 4.8rem;
    }

  }

  &__text {
    font: {
      size: 1.4rem;
      weight: 500;
    }
    color: var(--dark-grayish-magenta);
    line-height: 2.4rem;

    @media only screen and (min-width: $bp-desktop) {
      font: {
        size: 1.5rem;
        weight: 700;
      };
    }

  }

}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 15px; 

  .box {
    background-color: var(--light-grayish-magenta);
    border-radius: 5px;
    padding: 15px;

    @media only screen and (min-width: $bp-desktop) {
      padding: 20px 30px;
      width: 445px;
    }

    // &--review {}
    
    &--report-guru {

      @media only screen and (min-width: $bp-desktop) {
        margin-left: 50px;
      }

    }

    &--besttech {

      @media only screen and (min-width: $bp-desktop) {
        margin-left: 100px;
      }

    }


  }

  &__caption {
    font: {
      size: 1.3rem;
      weight: 700;
    }
    color: var(--very-dark-magenta);
    line-height: 1.3rem;

    @media only screen and (min-width: $bp-desktop){
      margin-left: 30px;
      display: flex;
      align-items: center;
      
    }
  }

  &__stars {

    @media only screen and (min-width: $bp-desktop) {
      display: flex;
    }

    img {
      margin: 2px;
    }
    line-height: 3rem;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  grid-gap: 30px;

  .testimonial {
    border-radius: 10px;
    padding: 3rem;
    background-color: var(--very-dark-magenta);
    
    @media only screen and (min-width: $bp-desktop) {
      height: 230px;
    }    

    &__picture {
      border-radius: 50%;
      margin-right: 2rem;
      width: 45px;
      height: 45px;
    }

    

    &__caption {
        display: inline-block;
        vertical-align: bottom;
        height: 45px;
      
      &--name {
        color: var(--white);
      }
      
      &--role {
        color: var(--soft-pink);
      }


    }

    &__quote {
      margin-top: 3rem;
      color: var(--light-grayish-magenta);
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 2.2rem;
    }

    // &--colton {}

    &--irene {
      @media only screen and (min-width: $bp-desktop) {
        margin-top: 25px;
      }

    }

    &--anne {
      @media only screen and (min-width: $bp-desktop) {
        margin-top: 50px;
      }

    }

  }

  

}
